{% extends "base.html" %}
{% block content %}
<div id="main">
    <div class="header">
        <h1>About</h1>
        <h2>How does this page work?</h2>
       
    </div>
    <div style ="margin : 30px 50px;">
    <li>This web page is hosted by Heroku with their free service for small apps.   </li>
    <li>Heroku can run apps by being pointed to their GitHub repo after fulfilling some initial set-up requirements.</li>
    <li>To see the code behing the app please visit <a href="https://github.com/danhorsley/discountbooks">my git hub repo</a></li>
    <br/>
     <li>The data is managed using Django and PostgresSQL.</li>  
     <li>  The computations are done with Numpy which I love as it is so fast.  </li> 
     <li>   The visualizations are made with Matplotlib and Plotly.  </li> 
     <li>   I have also included some Seaborn plots done outside the app.</li> 
     <br/>
     <li>   I have avoided using the Pandas library. Though it is a fantastic library it can make web apps run slowly.</li> 
     <li>  Also Pandas fills up too much of the limited space Heroku provides for non-paying users.</li> 
     <br/>
     <li> The layout of the web pages is done using the beautiful Pure CSS.</li> 
     <br/>
     <li>If you would like to see the latest data analysis please visit my  <a href="https://colab.research.google.com/drive/11AdJztTFIn8E7ZqugK5L29H_PPdOxGK0?usp=sharing">colab notebook</a></li>
    
</div>
</div>
{% endblock %}