{% extends "base.html" %}
{% block content %}
<div id="main">
    <div class="header">
        <h1>The Discount Books Experiment</h1>
        <h2>Books no one wants equals money right?</h2>
        <h3> A work in progress...</h3>
       
    </div>
    
    <div style ="margin : 30px 50px;">
        <p> It is amazing how much stuff you accumulate over the years without noticing.</p>
        <p>When packing up to move house in mid 2020 my wife and I realised we had a mountain of unwanted possessions.  Being as ruthless and as unsentimental as we could we listed hundreds of items on Ebay.  Bulky furniture, forgotten toys and ancient musical equipment and hundreds of books.  To our amazement almost all the items sold for the asking price and sold fast.
            The books were the best items. Many of them had only decorated our bookshelves for years and we were never going to read them again.  They are almost indestructible in the post and sell for a good percentage of the original price.
            I got to thinking that other people would have unwanted books on a much larger scale.  And one could sell those books in a place where people actually bought books.
            A search of Google showed there were several specialist wholesalers for 'overstocked' books.
            Amazon had on every item page a helpful sales rank number (ASR), number of competing offers and a price.  I started ploughing through the vast catalogues of books to see if anything made sense.  
            The targets were a low ASR, a low number of competing offers and a high margin.  The first few hundred I compiled by hand on a spreadsheet to get a feel for things.  
        </p>
    </div>
    
</div>
{% endblock %}