{% extends "base.html" %}
{% block content %}
<div id="main">
    <div class="header">
        <h1>The Discount Books Experiment</h1>
        <h2>Books no one wants equals money right?</h2>
       
    </div>
    
    <div style ="margin : 30px 50px;">
        <p> It is amazing how much stuff you accumulate over the years without noticing.</p>
        <p>When packing up to move house in mid 2020 my wife and I realised we had a mountain of unwanted possessions.  
            Being as ruthless and as unsentimental as we could we listed hundreds of items on Ebay.  
            Bulky furniture, forgotten toys, ancient musical equipment and hundreds of books.  
            To our astonishment almost all the items sold for the asking price and sold fast.
            The books were the best items. Many of them had only decorated our bookshelves for years and we were never going to read them again.  
            Also they are small, almost indestructible in the post and sell for a good percentage of the original price.
            I got to thinking that other people would have unwanted books on a much larger scale.  
            And one could sell those books in a place where people actually bought books : Amazon.
        </p>
        <p>   A search of Google showed there were several specialist wholesalers for 'overstocked' books.
            Amazon had on every item page a helpful sales rank number, number of competing offers and a price.  
            I started ploughing through the vast catalogues of books to see if anything was worth buying.  
            The targets were a low sales rank, a low number of competing offers and a high margin (see chart below).  
            
        </p>
        <div align = 'center' style="width:200;height:100">
            {{ html_plot1|safe }}
        </div>
        <p>The first few hundred I compiled by hand on a spreadsheet to get a feel for things.  
            Later on I automated a process to scrape the catalogues from the wholesalers 
            and pick up data from a cheap commerical source.  
            My first order was 48 names from a heavily discounted catalogue of over 1500 names.  
            Though this was in December last year some of these items I have still not sold today.  
            Indeed some I have never even sold a single copy.  
            Despite the errors and a complete lack of experience this order made a 100% return in 8 months.
        </p>
        <div align = 'center' style="width:200;height:100">
            {{ html_plot2|safe }}
        </div>
        <p> Though there was far too little data to draw any conclusions there were some clues.  
            Sales rank seemed to be important with the best items having a low number. 
            But it was still possible to profit from lower ranked books.  
            Going against my initial targeting, some of the best items also had a high number of competing offers.  
            It seemed a possibility that a high sales rank could mitigate a high number of offers.</p>
        <p> Over the next few months I experimented with differing selection styles. 
            Some were real failures which actually lost money over all.  
            In these cases it was often my lack of understanding of the book industry that was the problem.  
            Still the structural advantage of making many small careful beat my ignorance. 
        </p>
        <div align = 'center' style="width:700;height:400">
            {{ html_plot3|safe }}
        </div>
        <p>The above chart underestimates returns as it assumes zero value for current inventory.  
            Next I aim to apply some simple machine learning techniques to the data.  
            There may be some way to improve the selection process and I have some ideas on the direction of travel.

        </p>
    </div>
    
</div>
{% endblock %}