{% extends "base.html" %}
{% block content %}
<div id="main">
    <div class="header">
        <h1>Visualizations</h1>
        <h2>Here are some I made earlier</h2>
       
    </div>
    <div class = "box2">
        <h3>Pairwise plot of available data</h3>
        <div align = 'center' style="width:700;height:400">
              <img src="static/pwp.png" width=800 height=600 align="left"/>
        </div>
        <br/>
        <br/>
        <br/>
        <div align = 'center' style="width:700;height:400">
        <p style="float : left ;  clear:both;">Come back later for more...</p>
    </div>
    </div>
</div>
{% endblock %}